.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: chartreuse;
}